{% extends 'baseBox.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cadastrar | Filesbox{% endblock title %}

{% block content %}
    <body class="fundo-login">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card auth-card">
                    <div class="card-body">
                        
                        <div class="box-container">
                            <div class="box-login">
                                <img class="logo-login" src="{% static '_imagens/_logoBorda.png' %}" alt="">
                                <h1 class="titile-login">Cadastro</h1>           
                            </div>
                        </div>
                        
                        <form action="" method="post" id="form">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" >
                            
                            {{ form|crispy }}
                            <button type="submit" class="botao">Cadastrar</button>

                            <a class="btn-register" href="/accounts/login/"><strong>Voltar</strong></a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock content %}