{% extends 'baseFile.html' %}
{% load crispy_forms_tags %}

{% block title %}Editar{% endblock title %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Editando o file '{{file.title}}':</h1>
        
       <form method="POST" id="form-form">

        <div class="div-form">  
            {% csrf_token %}
            {{ form|crispy }}
        </div>

        <div class="div-btn">
            <a href="javascript:history.back()" class="a-btn"><input type="button" class="btn btn-back back" value="Voltar" /></a>
    
            <input type="submit" class="btn btn-success" value="Salvar alteração" />
        </div>

       </form>
    </div>
{% endblock content %}