{% extends 'baseFile.html' %}

{% block title %}File {{file.title}}{% endblock title %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>{{file.title}}</h1>
        
        <div class="container-d">
            <p class="description">{{file.description}}</p>
        </div>
        
        <div class="div-btn">
        {% for page in pages %}
            <a href="/boxes/pages/{{page.ident.id}}" class="a-btn"><input type="button" class="btn btn-back back" value="Voltar" /></a>
        {% endfor %}
        </div>
    </div>
{% endblock content %}