{% extends 'basePage.html' %}

{% block title %}Pages{% endblock title %}

{% block content %}

    <div class="box-modal">
        <div class="msg-modal">
            
            <h3 class="dlt-title-modal">Deseja deletar esta File?</h3>
            
            <div class="input-modal">
                <input type="button" class="dlt-btn-modal-csl" value="Cancelar" />
                <input type="button" class="dlt-btn-modal-cfm" value="Deletar" />
            </div>           
        </div>
    </div>
    
    

    <div class="offset-1 col-10 list-div">  
    
        <a href="/boxes" class="a-btn"><input type="button" class="btn btn-back" value="Voltar" /></a>
        <div class="container-box">
            <h1>{{page.ident.title}}</h1>
            {% comment %} <h2>{% for box in boxes %}{{ box.id }}{% endfor %}</h2> {% endcomment %}
            <div class="info-box">
                <h5>{{page.ident.description}}</h5> 
            </div>
        </div>

        <div class="container">    
            <a class="add-link" href="newFile/">
                <div class="col-2 add-div">
                    <i class="fas fa-plus"></i>
                    <span class="paragrafo">Novo File</span>
                </div>
            </a>

            <div class="col-9 busca-div">
                <form method="GET" id="search-form"> 
                    <input class="form-control" type="text" id="busca" name="busca" placeholder="Buscar File" value="{{ request.GET.busca }}"/>
                    <i class="fas fa-search" id="search-btn"></i>
                </form>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                        {{message}}
                        <i class="far fa-times-circle"></i>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <ul class="file-list">
            {% for file in files %}
            <li class="file-item">
                <span>{{ file.title }}</span>
                <span><a href="delete/{{file.id}}" class="delete-btn"><i class="fas fa-trash"></a></i></span>
                <span><a href="edit/{{file.id}}"><i class="far fa-edit"></i></a></span>
                <span><a href="view/{{file.id}}"><i class="fas fa-eye"></i></a></span>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if files.has_previous %}
                    <a href="?page={{ files.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a>
                {% endif %}

                {% if files.paginator.num_pages %}
                    <span class="current">
                        {{ files.number }} de {{ files.paginator.num_pages }}
                    </span>
                {% endif %}

                {% if files.has_next %}
                    <a href="?page={{ files.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
                {% endif %}


            </span>
        </div>
    </div>

{% endblock content %}