{% extends 'baseBox.html' %}
{% load crispy_forms_tags %}

{% block title %}Novo{% endblock title %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Novo Box:</h1>
        
       <form method="POST" id="form-form">
           
            <div class="div-form">
               {% csrf_token %}
               {{ form|crispy }}
            </div>

            <div class="div-btn">
                <a href="/boxes" class="a-btn"><input type="button" class="btn btn-back" value="Voltar" /></a>
                <input type="submit" class="btn btn-success" value="Criar Box" />
            </div>

       </form>
    </div>
{% endblock content %}